body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #11191f;
  font-family:serif;   
  margin-top: 30px;
  background: url(https://image.ibb.co/h2hLAJ/bg.png) #000;
  position: relative;
  height: 100vh
}

@-webkit-keyframes flicker {
  0% {
    opacity: .86139
  }
  5% {
    opacity: .12793
  }
  10% {
    opacity: .36759
  }
  15% {
    opacity: .9766
  }
  20% {
    opacity: .61364
  }
  25% {
    opacity: .94477
  }
  30% {
    opacity: .57811
  }
  35% {
    opacity: .03416
  }
  40% {
    opacity: .21835
  }
  45% {
    opacity: .62054
  }
  50% {
    opacity: .89452
  }
  55% {
    opacity: .89997
  }
  60% {
    opacity: .37872
  }
  65% {
    opacity: .04929
  }
  70% {
    opacity: .14477
  }
  75% {
    opacity: .27512
  }
  80% {
    opacity: .84701
  }
  85% {
    opacity: .85952
  }
  90% {
    opacity: .76553
  }
  95% {
    opacity: .91372
  }
  100% {
    opacity: .05536
  }
}

@keyframes flicker {
  0% {
    opacity: .86139
  }
  5% {
    opacity: .12793
  }
  10% {
    opacity: .36759
  }
  15% {
    opacity: .9766
  }
  20% {
    opacity: .61364
  }
  25% {
    opacity: .94477
  }
  30% {
    opacity: .57811
  }
  35% {
    opacity: .03416
  }
  40% {
    opacity: .21835
  }
  45% {
    opacity: .62054
  }
  50% {
    opacity: .89452
  }
  55% {
    opacity: .89997
  }
  60% {
    opacity: .37872
  }
  65% {
    opacity: .04929
  }
  70% {
    opacity: .14477
  }
  75% {
    opacity: .27512
  }
  80% {
    opacity: .84701
  }
  85% {
    opacity: .85952
  }
  90% {
    opacity: .76553
  }
  95% {
    opacity: .91372
  }
  100% {
    opacity: .05536
  }
}

body::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  pointer-events: none;
  background: rgba(49, 45, 45, .1);
  opacity: 0;
  pointer-events: none;
  -webkit-animation: flicker .15s infinite, steady 4s;
  animation: flicker .15s infinite, steady 4s
}


.title {
    position: flex;
    width: 600px;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 5px;
    margin-bottom: 40px;
    border: 1px rgb(255, 255, 255) solid;
  }

  .title h2 {
    color: rgb(180, 180, 180);
    font-weight: 10;
  }

  .result-box img{
    width: 110px;
    height: 110px;
    display: flex;
    border-radius: 5px;
    size: 50%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }

  .capture-area {
    width: 600px;
    align-items: center;
  }

  .container {
    width: 100%;
  }

  .chat-input textarea {
    flex-grow: 1;
    padding: 1px;
    border-radius: 1px;
    border:none;
    max-width: 100%;
    resize: none; 
  }

  .chat-input textarea:focus{
    outline: none;
  }

  .chat-input textarea::-webkit-scrollbar {
    display: none;
}

  .chat-input {
    border: 1px solid yellow;
    display: flex;
    height: 140px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin-bottom: 20px;
  }

  #input-text {
    background-color: transparent;
  }

  textarea {
    color: #fff;
    border: none;
      }

  textarea::placeholder {
    color: rgb(165, 165, 165);
    opacity: 80%;
    line-height: 120%;
  }
  
  .chat-input input[type="text"] {
    flex-grow: 1;
    padding: 10px;
    border-radius: 5px;
    border: none;
  }

  #charCount {
    color: #fff;
    margin-top: 8rem;
    margin-left: 10px;
    font-size: small;
  }

  button {
    background: none;
    border: 2px solid;
    font: inherit;
    line-height: 1;
    margin: 1em;
    padding: 1em 1em;
  }
  
  button {  
    color: #ffa260;
    transition: 0.25s;
    
    &:hover,
    &:focus { 
      border-color: var(--hover);
      color: #fff;
    }
  }

  #send-button {
    margin-top: 2.2rem;
    height: 4rem;
  }

  #share-button:hover,
  #share-button:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
  }

  #home-button:hover,
  #home-button:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
  }

  .result-box {
    border: 1px solid yellow;
    display: flex;
    opacity: 100%;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin-bottom: 10px;
  }

  .content {
    color: rgb(251, 255, 0);
    margin-left: 10px;
    letter-spacing: 0.7px;
    line-height: 150%;
  }
  
footer {
  color: #bbbbbb;
  text-align: center;
  padding: 20px 0;
  margin-top: 50px;
}
footer p {
font-size: 0.8rem;  
}

  #loader-4 {
    visibility: hidden;
  }
  #loader-4.active {
    visibility: visible;
  }

  #loader-4 span{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #ffffff;
    margin: 15px 5px;
    opacity: 0;
  }
  
  #loader-4 span:nth-child(1){
    animation: opacitychange 1s ease-in-out infinite;
  }
  
  #loader-4 span:nth-child(2){
    animation: opacitychange 1s ease-in-out 0.33s infinite;
  }
  
  #loader-4 span:nth-child(3){
    animation: opacitychange 1s ease-in-out 0.66s infinite;
  }
  
  @keyframes opacitychange{
    0%, 100%{
      opacity: 0;
    }
  
    60%{
      opacity: 1;
    }
  }
  
  @media (max-width: 768px) {
    body {
    font-size: 20px;
    margin-top: 0px;
    }
    
    .title {
    width: 95%;
    margin-top: 10px;
    margin-bottom: 10px;
    }

    .title h2 {
      font-size: 1.2em;
    }
    
    .result-box img {
    width: 140px;
    height: 140px;
    margin-right: 15px;
    }
    
    .result-box {
      max-width: 100%;
    }

    button {
      margin: 0.3em;
    }

    .capture-area {
    width: 100%;
    }

    .container {
    width: 100%;
    padding: 0px;
    }
    
    .chat-input {
    height: 50%;
    flex-direction: column;
    padding: 10px;
    }
    
    #charCount {
    font-size: 15px;
    }
    
    .chat-input textarea {
    max-width: 100%;
    height: 200px;
    margin-bottom: -80px;
    font-size: large;
    }
    
    .chat-input input[type="text"] {
    width: 100%;
    margin-bottom: 10px;
    }
    
    textarea::placeholder {
    font-size: 15px;
    font-weight: bolder;
    }
    
    .content {
    margin-left: 0;
    font-size: 15px;
    stroke-width: 2px;
    stroke: white;
    }
    
    footer {
    margin-top: 10px;
    }
    }
